MONGO_URI=
#  MONGO_URI=mongodb://localhost:27017/TourManagement
PORT= 
NODE_ENV= 

#JWT
JWT_SECRET= 
JWT_EXPIRATION=

# REFRESH
JWT_REFRESH_SECRET= 
JWT_REFRESH_EXPIRATION=

#BCRYPT
BCRYPT_SALT_ROUND=

# SUPER ADMIN CREDENTIALS
SUPER_ADMIN_GMAIL=
SUPER_ADMIN_PASSWORD=

#GOOGLE CREDENTIALS
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CALLBACK_URL=

# EXPRESS SESSION
EXPRESS_SESSION_SECRET=


# FRONTEND URL
FRONTEND_URL=http://localhost:5173

# CLOUDINARY
CLOUDINARY_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_NAME=

# SSL ECOMMERZ
STORE_ID=
STORE_PASSWORD=
SSL_PAYMENT_API=
CLIENT_SUCCESS_URL=
CLIENT_FAIL_URL=
CLIENT_CANCEL_URL=

BACKEND_SUCCESS_URL=
BACKEND_FAIL_URL=
BACKEND_CANCEL_URL=

# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

# EMAIL
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER= 
EMAIL_PASSWORD=
EMAIL_SECURITY=
