MONGO_URI=
#  MONGO_URI=mongodb://localhost:27017/TourManagement
PORT= 
NODE_ENV= 

#JWT
JWT_SECRET= 
JWT_EXPIRATION=

# REFRESH
JWT_REFRESH_SECRET= 
JWT_REFRESH_EXPIRATION=

#BCRYPT
BCRYPT_SALT_ROUND=

# SUPER ADMIN CREDENTIALS
SUPER_ADMIN_GMAIL=
SUPER_ADMIN_PASSWORD=

#GOOGLE CREDENTIALS
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CALLBACK_URL=

# EXPRESS SESSION
EXPRESS_SESSION_SECRET=


# FRONTEND URL
FRONTEND_URL=http://localhost:5173
